<% provide(:title, 'Sign up') %>

<section class="page-section signup-section">

	<h1 class="section-title font-alt mb-70 mb-sm-40">Signup</h1>
	<div class="col-md-8 col-md-offset-2">
		<% flash.each do |message_type, message| %>
	        <div class="alert alert-<%= message_type %>"><%= message %></div>
	    <% end %>
		<%= form_for(@user, :html => {:class => 'form contact-form', :id => 'contact_form'}) do |f| %>
			<% if @user.errors.any? %>
		    <div id="error_explanation">
				<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

				<ul>
				<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
				</ul>
		    </div>
		<% end %>

		<div class="clearfix">   
			<div class="col-md-6">
	    		<!-- Name -->
	            <div class="form-group">
	                <%= f.text_field :name , :class => "input-md round form-control",:placeholder =>"Name", :required => true %>
	            </div> 

	            <!-- Email -->
	            <div class="form-group">
	                <%= f.text_field :email , :class => "input-md round form-control",:placeholder =>"Email", :type => "email", :required => true %>
	            </div> 

	            <!-- Phone -->
	            <div class="form-group">
	                <%= f.text_field :phone , :class => "input-md round form-control",:placeholder =>"Phone", :type => "tel", :pattern=>".{5,100}",:required => true %>
	            </div>
	            
	            <!-- Password -->
	            <div class="form-group">                       
	                
	                <%= f.password_field :password , :class => "input-md round form-control",:placeholder =>"Password", :pattern=>".{5,100}",:required => true, :type => "password"%>
	            </div>

	            <!-- Password Confirmation -->
	            <div class="form-group">                       
	                <%= f.password_field :password_confirmation , :class => "input-md round form-control",:placeholder =>"Confirm Password", :pattern=>".{5,100}",:required => true, :type => "password"%>
	            </div>
		    </div>    
			<div class="col-md-6">
	            <div class="form-group">
	                <%= f.text_area :address , :class => "input-md round form-control",:placeholder =>"Address", :required => true, :rows => "3", :style => "height: 83px;" %>
	            </div>
	            <div class="row">
					<div class="col-md-6">
			            <div class="form-group">
			                <%= f.text_field :city , :class => "input-md round form-control",:placeholder =>"City", :type => "text", :required => true %>
			            </div> 
		            </div>
		            <div class="col-md-6">
			            <div class="form-group">
			                <%= f.text_field :pincode , :class => "input-md round form-control",:placeholder =>"Pincode", :type => "number", :pattern=>".{6}",:required => true %>
			            </div>
			        </div>
	            </div>
	            <div class="form-group">
	                <%= f.text_field :state , :class => "input-md round form-control",:placeholder =>"State", :type => "text", :required => true %>
	            </div> 
	            <div class="form-group">
	                <%= f.text_field :country , :class => "input-md round form-control",:placeholder =>"Country", :type => "text", :required => true %>
	            </div> 
		    </div>
		</div>
		    
		    <div class="clearfix">

		            <!-- Send Button -->
		            <div class="align-right pt-10 form-group">
		                <!-- <button class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Submit Message</button> -->
		                <%= f.submit "Sign Up", :class => "submit_btn btn btn-mod btn-medium btn-round"%>
		            </div>         
		          
		    </div>            
		    
		    
		    <div id="result"></div>
		<!-- </form> -->
		<% end %>

	</div>
</section>

	