<div class="page" id="top">            
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 "  id="home">
       <div class="container">            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text" style="    padding: 100px 0px 45px 0px;">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                       Payment Confirmation
                    </h1>                    
                    <div class="local-scroll hidden-xs">
                        <%= link_to "Apply", apply_path, :class => "btn btn-mod btn-border-w btn-medium btn-round"%>
                        <span>&nbsp;</span>
                        <%= link_to "Status", status_path, :class => "btn btn-mod btn-border-w btn-medium btn-round" %>
                        <span>&nbsp;</span>
                        <%= link_to "Payment History", history_path, :class => "btn btn-mod btn-border-w btn-medium btn-round" %>
                    </div>                    
                </div>
            </div>
            <!-- End Hero Content -->            
       </div>
    </section>
    <!-- End Home Section -->


    <!-- Section -->
    <section class="small-section" id="multi-page">
        <div class="container relative">            
            <!--<h2 class="section-title font-alt mb-60 mb-sm-30">
                Multi Page Demo
            </h2> -->            
            <div class="row">                
                <div class="mb-40 table-responsive ">   
                    <div class="jumbotron align-center">
                        <p>Payment Successful. Your transaction ID is <%=@payment_id%>. Click <%= link_to "here", apply_path%> to verify more documents. Keep this transaction ID for future references.</p>
                    </div>
                </div>
            </div>       
        </div>
    </section>
    <!-- End Section -->
</div>